/*
 * SPDX-FileCopyrightText: NONE
 * SPDX-FileContributor: SpacingBat3 <spacingbat3@gmail.com>
 *
 * SPDX-License-Identifier: Unlicense
 */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
